@import './fonts/fonts.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

html {
  height: 100%;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1.5rem;
}

#root {
  margin: 0 auto;
  padding: 0 3rem;
  width: 100%;
  max-width: 1200px;
  background-color: #fafafa;
}

.header {
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    width: 10rem;

    &_link {
      color: #d8093a;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;

    &_container {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.event-btn {
  &-add,
  &-reset {
    display: flex;
    width: 230px;
    padding: 8px 16px;
    margin: 0 auto;
    border: solid 1px #c7ccd1;
    border-radius: 5px;
    transition: all 0.2s ease-out;
    cursor: pointer;
    font-weight: bold;
    background-color: #ffffff;
    color: #333333;

    &:hover {
      background-color: #d32f2f;
      color: #ffffff;
    }
  }

  &-add:hover {
    background-color: #81c784;
  }

  &__container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    order: 1;
  }
}

.menu {
  position: relative;
  width: 230px;
  height: 40px;
  margin: 0 auto;

  &[data-state='active'] {
    .menu__title {
      &::before {
        transform: translate(-3px, -50%) rotate(-45deg);
      }

      &::after {
        transform: translate(3px, -50%) rotate(45deg);
      }
    }

    .menu__content {
      opacity: 1;
    }

    .menu__label + .menu__input + .menu__label {
      max-height: 40px;
      border-top-width: 1px;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 8px 16px;
    border-radius: 5px;
    border: solid 1px #c7ccd1;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 16px;
      display: block;
      width: 10px;
      height: 2px;
      transition: all 0.3s ease-out;
      background-color: #333333;
      transform: translate(-3px, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(3px, -50%) rotate(-45deg);
    }

    &:hover {
      border-color: #d8093a;

      &::before,
      &::after {
        background-color: #d8093a;
      }
    }
  }

  &__content {
    position: absolute;
    top: 40px;
    left: 3px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 6px);
    background-color: #ffffff;
    border: 1px solid #c7ccd1;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.3s ease-out;
    opacity: 0;
    z-index: 8;
  }

  &__input {
    display: none;

    &:checked + label {
      background-color: #dedede;
    }
    &:disabled + label {
      opacity: 0.6;
      pointer-events: none;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    max-height: 0;
    padding: 0 16px;
    transition: all 0.2s ease-out;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;

    & + input + & {
      border-top: 0 solid #c7ccd160;
    }

    &:hover {
      background-color: #d8093a !important;
      color: #ffffff;
    }
  }
}

.main {
  width: 100%;
  height: 500px; ////
  display: flex;
  flex-wrap: wrap;
  background-color: #c8c8c8;
  border: 1px solid #eee;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 500;
    background-color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    cursor: pointer;

    &_title {
      font-size: 2rem;
    }

    &_btn-close {
      display: none;
      position: absolute;
      right: 5px;
      top: -2px;

      &:hover {
        transform: scale(1.1);
      }
    }

    &[data-complete='true'] {
      background-color: #d3f5b4;

      & .main__item_btn-close {
        display: block;
      }
    }
  }
}

.row-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: calc(10% - 1px) repeat(5, 1fr);
  row-gap: 2px;
  column-gap: 2px;
  width: 100%;
  height: 6rem;
  background-color: #e5e5e5;
  border: 2px solid #c7c7c7;
}

.col-container {
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: 1fr;
  row-gap: 2px;
  column-gap: 2px;
  width: 10%;
  height: calc(100% - 6rem);
  background-color: #e5e5e5;
  border: 2px solid #c7c7c7;
  border-right: 0;
}

.content-container {
  width: 90%;
  height: calc(100% - 6rem);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(9, 1fr);
  row-gap: 2px;
  column-gap: 2px;
  background-color: #e5e5e5;
  border: 2px solid #c7c7c7;
}
